.medium {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F6E6CD;
}
.medium__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-left: 80px;
    margin-right: 60px;
    text-align: left;
    gap: 24px;
}
.medium-title {
    font-family: var(--secondary-font);
    font-size: 56px;
    font-weight: 400;
    line-height: 67px;
    letter-spacing: 0.01em;
    color: var(--primary-color);
    position: relative;
    animation-name: title;
    animation-duration: 2s;
    transition: transform 0.5s;
}
.medium-title:hover {
    transform: translate(0px, -2px);
    transition: all 0.5;
}
.medium-text {
    font-family: var(--thirdly-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.01em;
    text-align: left;
    position: relative;
    animation-name: text;
    animation-duration: 2s;
    transition: all 0.5s;
}
.medium-text:hover {
    transform: translate(0, -2px);
    transition: transform 0.5;
}
.orange-button {
    min-height: 59px;
    max-width: 185px;
    display: inline-block;
    border-radius: 100px;
    box-shadow: 0px 24px 48px rgba(0, 0, 0, 0.18);
    border: none;
    /*-----------------------------------------------------*/
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: white;
    background-color: var(--secondary-color);
    /*-----------------------------------------------------*/
    position: relative;
    top: 0;
    animation-name: orange-button;
    animation-duration: 2s;
    transition: all 0.5s;
}
.orange-button:hover {
    background-color: #fff;
    border: none;
    color: black;
    transform: scale(0.9);
    transition: all 0.5s;
    box-shadow: 0px 20px 24px -4px rgba(244, 119, 38, 0.4), 0px 8px 8px -4px rgba(244, 119, 38, 0.3);
}
.orange-button:focus {
    outline: none;
}
/*-----------------------------------------------------*/
@keyframes title {
    0% {
        left: 0;
    }
    50% {
        left: 20px;
    }
    100% {
        left: 0;
    }
}
@keyframes text {
    0% {
        right: 0;
    }
    50% {
        right: 20px;
    }
    100% {
        right: 0;
    }
}
@keyframes orange-button {
    0% {
        top: 200px;
    }
    100% {
        top: 0;
    }
}