@import url('./root.css');
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}
input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*-----------------------------------------------------*/
[class*="__container"] {
    max-width: 1312px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}
/*-----------------------------------------------------*/
.wrapper {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
.header {
    width: 100%;
    height: 72px;
    background-color: #F6E6CD;
}
/*-----------------------------------------------------*/
*::selection {
  background-color: var(--secondary-color);
}
span,
a,
p,
h1,h2,h3,
h4,h5,h6 {
    transition: 0.5s;
}
span:hover,
p:hover,
h1:hover,h2:hover,h3:hover,
h4:hover,h5:hover,h6:hover {
    transform: translate(0px, -2px);
    transition: all 0.5;
}
/*-----------------------------------------------------*/